<h3>방명록 리스트</h3>
<a href="/post/new" style="float:right;display:inline-block;">
    <button>새 글</button>
</a>
<% if user_signed_in? %>
    <p>계정: <%= current_user.email %></p>
    <img class="img img-thumbnail" style="width:50px; height:50px; object-fit:cover;" src="<%= current_user.profile %>">
    <%= link_to "프로필", user_profile_path %>
    <p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까?" } %></p>
<% else %>
    <p><%= link_to "로그인", new_user_session_path %></p>
<% end %>


<div id="map" style="width:100%; height:400px;"></div>

<ul>
    <% @posts.each do |post| %>
    <li>
        <h4><%=post.id%>, <%=post.title%></h4>
        
        <% if user_signed_in? %>
            <%= link_to '수정', post_modify_path(:id => post.id) if post.updatable_by? current_user %>
            <%= link_to '삭제', post_delete_path(:id => post.id) if post.deletable_by? current_user %>
            <a href="/comment/new?id=<%=post.id%>">댓글</a>
        <% end %>
        <hr>
        <%=post.contents%>
        <hr>
        <%=post.user.name%>, <%=post.created_at.in_time_zone(9).to_formatted_s(:short)  %>
        
        <hr>
        <ol>
        <% post.comments.each do |comment| %>
            <li><%=comment.contents%>, <a href="/comment/delete?id=<%=comment.id%>">X</a></li>
        <% end %>
        </ol>
    </li>
    <% end %>
</ul>

<div class="align-center" style="width:100%;text-align:center;">
    <%= will_paginate @posts, :previous_label => t("이전"), :next_label => t("다음") %>
</div>


<script>
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
    	center: new daum.maps.LatLng(37.529838, 126.964519), //지도의 중심좌표.
    	level: 3 //지도의 레벨(확대, 축소 정도)
    };
    
    var map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴
    
    var positions = [
        <% @posts.each do |post| %>
            {
                content: '<div style="padding:5px; width:200px; text-align:center;"><%=post.title%><br><%=post.address%></div>',
                latlng: new daum.maps.LatLng(<%=post.lat%>, <%=post.lng%>)
            },
        <% end %>
        ];
    
    
    for (var i = 0; i < positions.length; i++) {
        var marker = new daum.maps.Marker({
            map: map,
            position: positions[i].latlng
        });
        
        var infoWindow = new daum.maps.InfoWindow({
            content: positions[i].content 
        });
        
        (function(marker, infoWindow) {
            daum.maps.event.addListener(marker, 'mouseover', function() {
                infoWindow.open(map, marker);
            });
            
            daum.maps.event.addListener(marker, 'mouseout', function() {
               infoWindow.close(); 
            });
        })(marker, infoWindow);
    }
    
</script>